<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="DataBasePath"          value="media.db"/>
      <add key="FormatOutputDirectory" value="yyyy|MM_MMMM"/> <!--Use '|' as seporator directory -->
      <add key="FormatOutputFileName"  value="yyyyMMdd-hhmmss"/>
      <add key="CultureInfo"           value="ru-RU"/>
      <add key="SupportFormat"         value=".jpg;.jpeg;.png;.nef;.mov;.heic;.avi;.mp4;.m4a;.m4v;.f4v;.f4a;.m4b;.m4r;.f4b;.mov;.3gp;.3gp2;.3g2;.3gpp;.3gpp2"/>    
   </appSettings>
</configuration>
