<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="DataBasePath"          value="media.db"/>
      <add key="FormatOutputDirectory" value="yyyy|MM_MMMM"/> <!--Use '|' as seporator directory -->
      <add key="FormatOutputFileName"  value="yyyyMMdd-hhmmss"/>
      <add key="CultureInfo"           value="ru-RU"/>
      <add key="SupportFormat"         value=".jpg;.png;.nef;.mov;.heic;.avi;"/>    
   </appSettings>
</configuration>
